/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*============================================================
                         GERAL
==============================================================*/
html{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;/*tipo da fonte*/
    html {font-size: calc(10px + 1vw);}/*tamanho da fonte*/
}
a{
    color: black;
    text-decoration: none;/*tira a decoraçao dos links*/
}
/*============================================================
                         HEADER
==============================================================*/
header nav div a span {
    font-weight: bold;
}
header nav{
    display: flex;
    justify-content:space-between;
    margin: 1vw 10vw 8.7vw 15vw;
}
header nav ul {
    display: flex;
    padding: 0px 10vw 0px 0vw;
}
header nav ul li {
    padding: 0px 20px 0px 20px;
}
header nav ul li a{
    color: #868686 ;
}
header nav ul li a.cor1{
    color: #232323;
}

/*============================================================
                         TOPO
==============================================================*/
main section.topo {
    display: flex;
    justify-content: center;
}
main section.topo div h1 {
    font-weight: bold;
    font-size: 3rem;
    margin: 3vw 3vw 1vw 1vw;
    font-family: 'Times New Roman', Times, serif;
}
main section.topo div h1 span {
    color: #47c183;
} main section.topo div p {
    margin: 12px 12px 25px 12px;
}
main section.topo div button {
    background: black;
    color: white;
    padding: 20px 30px 20px 30px;
    font-weight: bold;
    margin: 1vw 3vw 1vw 1vw;
}
main section.topo div a{
    text-decoration: underline;
}
/*============================================================
                         ME1O
==============================================================*/
main section.porque h1 {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 1.3rem;
    margin: 3vw 3vw 3vw 3vw;
}
main section.porque div {
    display: flex;
    justify-content: center;
}
main section.porque div.fundo {
    background: #f8f8f8;
}
main section.porque div p {
    margin: 4vw 2vw 2vw 2vw;
}
/*============================================================
                         ME2O
==============================================================*/
main section.exp h1 {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 1.3rem;
    margin: 3vw 3vw 3vw 3vw;
}
main section.exp div{
    display: flex;
    justify-content: center;
} 
main section.exp div p {
    margin: 2vw 1vw 1vw 1vw;
    font-size: 1.7rem;
}
main section.exp div p span {
    font-weight: bold;
}
main section.exp div img {
    margin: 1vw;
}
main section.exp div p{
    background-color: #f8f8f8;
}
/*============================================================
                         FOOTI
==============================================================*/
footer {
    display: flex;
    justify-content: space-between;
    margin: 5vw 15vw 5vw 15vw;
}
footer div p {
    color: #232323; ;
}
footer ul {
    display: flex;
    justify-content: right;
    margin: vw;
}
footer ul li{
    padding: 20px 0px 10px 10px;
    color: #868686;
}
footer ul li a{
    color: #868686;
    text-decoration: underline;
}
